:root {
    --bg-color: #ffffff;
    --txt-color: #101010;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #202020;
        --txt-color: #ffffff;
    }
}

html, body {
    background-color: var(--bg-color);
    color: var(--txt-color);
}

@font-face {
    font-family: "JetBrainsMono";
    src: url("JetBrainsMono.ttf");
}

* {
    font-family: "JetBrainsMono";
    box-sizing: border-box;
}

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

.center {
    margin: 0;
    max-width: 100%;
    max-height: 100%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.center .logo {
    max-width: 90%;
    max-height: 90%;
}

.center * {
    max-width: 100%;
    max-height: 100%;
}

.center .code {
    margin: 0;
}

.center .readme {
    font-weight: bold;
}

button {
    background-color: #b0b0b0;
    color: #000000;
    font-size: 16px;
    outline: none;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    transition: all 0.5s;
}

button:hover {
    background: #d2d2d2;
    transition: all 0.5s;
}

button:active {
    background: #b3b3b3;
    transition: all 0.15s;
}

.btn-primary {
    background-color: #009aff;
    color: #ffffff;
}

.btn-primary:hover {
    background-color: #007bcd;
}

.btn-primary:active {
    background-color: #0060a1;
}